<div id="editor" v-cloak>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div>
        <h4>
          Second Textarea
        </h4>
        <textarea name="area2" style="width: 80%;" rows="40" cols="50">
             Some Initial Content was in this textarea
      </textarea><br />
      </div>
 
</div>

<script type="text/javascript" src="http://js.nicedit.com/nicEdit-latest.js"></script> <script type="text/javascript">
  //<![CDATA[
          bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });
    //]]>
    </script>


<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
