<div id="create-news" v-cloak>
  <main class="mt-5" style="color: white">

    <div class="container">

      <ajax-form action="uploadNews" :syncing.sync="syncing" :cloud-error.sync="cloudError" :handle-parsing="handleParsingForm"
        @submitted="submittedForm()">
        <div class="form-group">
          <h5>News</h5>
        </div>
        <hr>

        <!-- validation not working, using '' instead of formErrors-->
        <div class="form-group">
          <label>Name of news:</label>
          <input class="form-control" type="text" v-model="formData.newsName" :class="[formErrors.newsName ? 'is-invalid' : '']">
          <div class="invalid-feedback" v-if="formErrors.newsName">Please enter the name of news.</div>

          <label>News details:</label>
          <textarea :class="[formErrors.newsDetail ? 'is-invalid' : '']" class="form-control" v-model="formData.newsDetail"></textarea>
          <!-- <div class="invalid-feedback" v-if="formErrors.newsDetail">Please enter details of news.</div> -->

          <label>Image Src:</label>
          <input :class="[formErrors.imageSrc ? 'is-invalid' : '']" class="form-control" type="text" v-model="formData.imageSrc">
          <div class="invalid-feedback" v-if="formErrors.imageSrc">Please enter image address.</div>

          <label>News Src:</label>
          <input :class="[formErrors.newsSrc ? 'is-invalid' : '']" class="form-control" type="text" v-model="formData.newsSrc">
          <div class="invalid-feedback" v-if="formErrors.newsSrc">Please enter news address.</div>
        </div>

        <div class="form-group">
          <ajax-button type="submit" :syncing="syncing" class="btn btn-danger ml-1 ">Upload</ajax-button>
        </div>

      </ajax-form>
    </div>
  </main>
</div>

<script src="https://cloud.tinymce.com/5/tinymce.min.js"></script>
<script>
  tinymce.init({
    selector: 'textarea'
  });

</script>

<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
