<div id="modify-news" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/news/modify-news.less</em>, <em>assets/js/pages/news/modify-news.page.js</em>, and <em>api/controllers/news/view-modify-news.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
