<div id="safety" v-cloak>
  <div class="about-wrapper" style="color: white">
    <div class="container">
      <div class="about text-center">
        <h3>Be Safe!</h3>
      </div><br>
      <div class="features text-center">
        <div class="row">
          <div class="feature col-sm">
            <a href="">
              <img src="/images/helmet2.png" alt="..." class="rounded mx-auto d-block safeimg">
              <h4>Safety Gear</h4>
            </a>
            <p class="text-muted">Check the condition of the cycle and wear safety helmets and pads before setting off</p>
          </div>

          <div class="col-sm feature">
            <a href="">
              <img src="/images/traffic-light.png" alt="..." class="rounded mx-auto d-block safeimg">
              <h4>Obey traffic light signals</h4>
            </a>
            <p class="text-muted">Obey traffic light signals, traffic signs and road markings.</p>
          </div>

          <div class="col-sm feature">
            <a href="">
              <img src="/images/man-riding-bike.png" alt="..." class="rounded mx-auto d-block safeimg">
              <h4>Ride in single file</h4>
            </a>
            <p class="text-muted">Cyclist must ride in single file except when overtaking.
              Ride along the left side of the road and keep clear of the kerb.
              Do not drift from side to side or zig-zag through traffic.</p>
          </div>
          <div class="col-sm feature">
              <a href="">
                <img src="/images/man-riding-bike.png" alt="..." class="rounded mx-auto d-block safeimg">
                <h4>Ride in single file</h4>
              </a>
              <p class="text-muted">Cyclist must ride in single file except when overtaking.
                Ride along the left side of the road and keep clear of the kerb.
                Do not drift from side to side or zig-zag through traffic.</p>
            </div>
            <div class="col-sm feature">
                <a href="">
                  <img src="/images/man-riding-bike.png" alt="..." class="rounded mx-auto d-block safeimg">
                  <h4>Ride in single file</h4>
                </a>
                <p class="text-muted">Cyclist must ride in single file except when overtaking.
                  Ride along the left side of the road and keep clear of the kerb.
                  Do not drift from side to side or zig-zag through traffic.</p>
              </div>
              <div class="col-sm feature">
                  <a href="">
                    <img src="/images/man-riding-bike.png" alt="..." class="rounded mx-auto d-block safeimg">
                    <h4>Ride in single file</h4>
                  </a>
                  <p class="text-muted">Cyclist must ride in single file except when overtaking.
                    Ride along the left side of the road and keep clear of the kerb.
                    Do not drift from side to side or zig-zag through traffic.</p>
                </div>
                <div class="col-sm feature">
                    <a href="">
                      <img src="/images/man-riding-bike.png" alt="..." class="rounded mx-auto d-block safeimg">
                      <h4>Ride in single file</h4>
                    </a>
                    <p class="text-muted">Cyclist must ride in single file except when overtaking.
                      Ride along the left side of the road and keep clear of the kerb.
                      Do not drift from side to side or zig-zag through traffic.</p>
                  </div>
                  <div class="col-sm feature">
                      <a href="">
                        <img src="/images/man-riding-bike.png" alt="..." class="rounded mx-auto d-block safeimg">
                        <h4>Ride in single file</h4>
                      </a>
                      <p class="text-muted">Cyclist must ride in single file except when overtaking.
                        Ride along the left side of the road and keep clear of the kerb.
                        Do not drift from side to side or zig-zag through traffic.</p>
                    </div>
                    <div class="col-sm feature">
                        <a href="">
                          <img src="/images/man-riding-bike.png" alt="..." class="rounded mx-auto d-block safeimg">
                          <h4>Ride in single file</h4>
                        </a>
                        <p class="text-muted">Cyclist must ride in single file except when overtaking.
                          Ride along the left side of the road and keep clear of the kerb.
                          Do not drift from side to side or zig-zag through traffic.</p>
                      </div>
        </div>
      </div>
    </div>
  </div>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
