<div id="available-booking" v-cloak>
  <div class="container mb-5 pb-5 pt-5">
    <% if(me.shopOwner == 'No') { %>
    <!--Grid row-->
    <div class="pt-5">
      <h1>My booking</h1>
    </div>
    <div class="row pt-5" v-if="books.length > 0">
      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-4" :key="'book'+book.id" v-for="book in books.slice().reverse()">
        <!--Card-->
        <div class="card card-content inner news-bg">
          <div>
            <ajax-button class="options-button managebutton" title="Delete" @click="clickDeleteBooking(book.id)"
              v-if="book.status == 'Requested'">
              <i class="far fa-trash-alt text-danger" style="float:right"></i>
            </ajax-button>
          </div>

          <!--Card content-->
          <div class="card-body">
            <!--Title-->
            <a :href="'../shop/' + book.shop.id">
              <h4 class="card-title">{{book.shop.shopName}}</h4>
            </a>
            <div>Date: {{book.date}}</div>
            <div>Time: {{book.time}}</div>
            <div>Status:
              <span v-if="book.status == 'Accepted'" style="color:#0e9602"> {{book.status}}</span>
              <span v-if="book.status == 'Requested'" style="color:#a0a0a0"> {{book.status}}</span>
              <span v-if="book.status == 'Declined'" style="color:#ff5656"> {{book.status}}</span>
              <span v-if="book.status == 'Completed'" style="color:#006eff"> {{book.status}}</span>
            </div>

            <label v-if="book.status == 'Accepted' || book.status == 'Completed'">Code: </label>
            <div class="badge badge-pill badge-primary" v-if="book.status == 'Accepted' || book.status == 'Completed'">
              {{book.code}}</div>
            <div>
              <!-- review -->
              <ajax-button @click="clickReviewBooking(book.id)" class="btn btn-primary"
                v-if="book.status == 'Completed' && book.review == 'false'"><i class="fas fa-pen-square"></i>
                Write a
                Review</ajax-button>

              <div class="badge badge-pill badge-success" v-if="book.status == 'Completed' && book.review == 'true'">
                Reviewed</div>


            </div>

            <!-- <a href="" class="btn btn-primary btn-md waves-effect waves-light">Use </a> -->
          </div>
        </div>
        <!--/.Card-->
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
    <% } %>


    <% if(me.shopOwner == 'Yes') { %>
    <div class="row pt-5" v-if="datas.length > 0">
      <div class="col-12">
        <div>
          <h1>Booking</h1>
        </div>
        <div>
          <input class="form-control col-md-2 float-right" id='myInput' onkeyup='searchTable()' type='text'
            placeholder="Search">
        </div>
        <table id="myTable">
          <tr id='tableHeader'>
            <!--When a header is clicked, run the sortTable function, with a parameter, 0 for sorting by names, 1 for sorting by country:-->
            <!-- <th onclick="sortTable(0)">Id</th> -->
            <!-- <th onclick="sortTable(0)" v-if="me.isSuperAdmin === true">Shop</th> -->
            <!-- <th onclick="sortTable(0)">Service</th> -->
            <th onclick="sortTable(0)">Date</th>
            <th onclick="sortTable(0)">Time</th>
            <th onclick="sortTable(0)">Client</th>
            <th onclick="sortTable(0)">Status</th>
            <th onclick="sortTable(0)">Code</th>
            <th>Complete</th>
            <th>Accept</th>
            <th>Decline</th>
            <th></th>
          </tr>
          <tr v-for="data in datas" :key="'data'+data.id">
            <!-- <td>{{data.id}}</td> -->
            <!-- <td v-if="me.isSuperAdmin === true">{{data.shop.shopName}}</td> -->
            <!-- <td>{{data.service}}</td> -->
            <td>{{data.date}}</td>
            <td>{{data.time}}</td>
            <td>{{data.customer.fullName}}</td>
            <td>
              <span v-if="data.status == 'Accepted'" style="color:#0e9602"> {{data.status}}</span>
              <span v-if="data.status == 'Requested'" style="color:#a0a0a0"> {{data.status}}</span>
              <span v-if="data.status == 'Declined'" style="color:#ff5656"> {{data.status}}</span>
              <span v-if="data.status == 'Completed'" style="color:#006eff"> {{data.status}}</span>
            </td>
            <td class="strong" style="color:#006dfc">{{data.code}}</td>
            <td>
              <!-- Complete -->
              <ajax-button v-if="data.status == 'Accepted'" class="options-button managebutton pl-4" title="Complete"
                @click="clickData(data.id)">
                <img src="/images/tick-305245_960_720.png" alt="" width="15px" height="15px">
              </ajax-button>

              <!-- Completed -->
              <ajax-button v-if="data.status !== 'Accepted'" class="options-button managebutton pl-4 pb-3" title="Null">
                - </ajax-button>

            </td>
            <td>
              <!-- Accept -->
              <ajax-button v-if="data.status == 'Requested'" class="options-button managebutton pl-3" title="confirm"
                @click="clickConfirmButton(data.id)">
                <img src="/images/tick-305245_960_720.png" alt="" width="15px" height="15px">
              </ajax-button>
              <!-- Accepted -->
              <ajax-button v-if="data.status !== 'Requested'" class="options-button managebutton pl-3 pb-3" title="Null"
                @click="clickViewButton(data.id)">
                <svg class="fas fa-eye text-secondary" style="float:right"></svg>
              </ajax-button>

            </td>
            <td>
              <!-- Decline -->
              <ajax-button v-if="data.status == 'Requested'" class="options-button managebutton pl-3" title="Delete"
                @click="clickDeclineButton(data.id)">
                <img src="/images/12065738771352376078Arnoud999_Right_or_wrong_5.svg.hi.png" alt="" width="15px"
                  height="15px">
              </ajax-button>

              <ajax-button v-if="data.status !== 'Requested'" class="options-button managebutton pl-3 pb-3"
                title="Null">
                - </ajax-button>

            </td>
            <td>
              <!-- Delete (admin only) -->
              <ajax-button v-if="me.isSuperAdmin == true" class="options-button managebutton" title="Delete"
                @click="clickDeleteButton(data.id)">
                <svg class="far fa-trash-alt text-danger" style="float:right"></svg>
              </ajax-button>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <% } %>

  </div>
  <% /* "confirm Delete Booking" Modal (Admin)*/ %>
  <modal v-if="confirmDeleteModalOpen && selectedBooking" v-cloak key="delete" @close="closeDeleteBookingModal()">
    <ajax-form action="destroyBooking" :syncing.sync="syncing" :cloud-error.sync="cloudError"
      :handle-parsing="handleParsingDeleteBookingForm" @submitted="submittedDeleteBookingForm()">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span>&times;</span>
        </button>
        <h5 style="color:black">Are you sure to delete this booking?</h5>

      </div>
      <hr class="hidden">
      <div class="modal-body">
        <ajax-button type="submit" :syncing="syncing" class="btn btn-danger ml-1 center">Remove</ajax-button>
      </div>
    </ajax-form>
  </modal>

  <% /* "confirm Delete Booking" Modal (User)*/ %>
  <modal v-if="confirmDeleteBookingModalOpen && selectedDeleteBooking" v-cloak key="delete" @close="closeDeleteModal()">
    <ajax-form action="destroyBooking" :syncing.sync="syncing" :cloud-error.sync="cloudError"
      :handle-parsing="handleParsingDeleteForm" @submitted="submittedDeleteForm()">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span>&times;</span>
        </button>
        <h5 style="color:black">Are you sure to delete this booking?</h5>

      </div>
      <hr class="hidden">
      <div class="modal-body">
        <ajax-button type="submit" :syncing="syncing" class="btn btn-danger ml-1 center">Remove</ajax-button>
      </div>
    </ajax-form>
  </modal>

  <% /* "confirm Booking" Modal (shop owner) */ %>
  <modal v-if="confirmBookingModalOpen && selectedBooking" v-cloak key="delete" @close="closeConfirmBookingModal()">
    <ajax-form action="confirmBooking" :syncing.sync="syncing" :cloud-error.sync="cloudError"
      :handle-parsing="handleParsingDeleteBookingForm" @submitted="submittedConfirmBookingForm($event)">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span>&times;</span>
        </button>
        <h5 style="color:black">Are you sure to confirm this booking?</h5>
        <div class="card inner">
          <!-- <p v-if="me.isSuperAdmin == true">Shop: {{confirmBookingFormData.shopName}}</p> -->
          <p>Date: {{confirmBookingFormData.date}}</p>
          <p>Time: {{confirmBookingFormData.time}}</p>
          <p>Remarks: {{confirmBookingFormData.remarks}}</p>
          <!-- <input hidden type="text" v-model="confirmBookingFormData.customerAddress">
          <input hidden type="text" name="" id="" v-model="confirmBookingFormData.id"> -->

        </div>
      </div>
      <hr class="hidden">
      <div class="modal-body">
        <ajax-button type="submit" :syncing="syncing" class="btn btn-danger ml-1 center">Confirm</ajax-button>
      </div>
    </ajax-form>
  </modal>

  <% /* "decline Booking" Modal (shop owner) */ %>
  <modal v-if="declineBookingModalOpen && selectedBooking" v-cloak key="delete" @close="closeDeclineBookingModal()">
    <ajax-form action="declineBooking" :syncing.sync="syncing" :cloud-error.sync="cloudError"
      :handle-parsing="handleParsingDeclineBookingForm" @submitted="submittedDeclineBookingForm($event)">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span>&times;</span>
        </button>
        <h5 style="color:black">Are you sure to decline this booking?</h5>
        <div class="card inner">
          <!-- <p v-if="me.isSuperAdmin == true">Shop: {{declineBookingFormData.shopName}}</p> -->
          <p>Date: {{declineBookingFormData.date}}</p>
          <p>Time: {{declineBookingFormData.time}}</p>
          <p>Remarks: {{declineBookingFormData.remarks}}</p>
        </div>
      </div>
      <hr class="hidden">
      <div class="modal-body">
        <ajax-button type="submit" :syncing="syncing" class="btn btn-danger ml-1 center">Confirm</ajax-button>
      </div>
    </ajax-form>
  </modal>

  <% /* "finish Booking" Modal (shop owner) */ %>
  <modal v-if="finishBookingModalOpen && selectedBooking" v-cloak key="finish" @close="closeFinishBookingModal()">
    <ajax-form action="finishBooking" :syncing.sync="syncing" :cloud-error.sync="cloudError"
      :handle-parsing="handleParsingFinishBookingForm" @submitted="submittedFinishBookingForm($event)">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span>&times;</span>
        </button>
        <h5 style="color:black">Are you sure to complete this booking?</h5>
        <div class="card inner">
          <!-- <p v-if="me.isSuperAdmin == true">Shop: {{finishBookingFormData.shopName}}</p> -->
          <p>Date: {{finishBookingFormData.date}}</p>
          <p>Time: {{finishBookingFormData.time}}</p>
          <p>Remarks: {{finishBookingFormData.remarks}}</p>
        </div>
      </div>
      <hr class="hidden">
      <div class="modal-body">
        <ajax-button type="submit" :syncing="syncing" class="btn btn-danger ml-1 center">Confirm</ajax-button>
      </div>
    </ajax-form>
  </modal>

  <% /* "View Booking" Modal (shop owner) */ %>
  <modal v-if="confirmViewModalOpen && selectedBooking" v-cloak key="delete" @close="closeViewBookingModal()">
    <div class="modal-header ">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span>&times;</span>
      </button><br>
      <h3>Details</h3>
      <div class="card inner">
        <!-- <p v-if="me.isSuperAdmin == true">Shop: {{formData.shop}}</p> -->
        <p>Date: {{formData.date}}</p>
        <p>Time: {{formData.time}}</p>
        <p>Remarks: {{formData.remarks}}</p>
        <p>Code: {{formData.code}}</p>
      </div>


    </div>
    <hr class="hidden">
    <div class="modal-body">
      <ajax-button class="btn btn-secondary ml-1 center" data-dismiss="modal">Close</ajax-button>
    </div>
  </modal>

  <% /* "confirm Review Booking" Modal (User)*/ %>
  <modal v-if="confirmReviewModalOpen && selectedBooking" v-cloak key="update" @close="closeReviewBookingModal()">
    <ajax-form action="reviewBooking" :syncing.sync="syncing" :cloud-error.sync="cloudError"
      :handle-parsing="handleParsingReviewBookingForm" @submitted="submittedReviewBookingForm()">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span>&times;</span>
        </button>
        <h5 style="color:black">Write a Review</h5>
        <input hidden disabled type="number" :v-model="formData.bookingId">
        <input hidden disabled type="number" :v-model="formData.shopId">
        <input hidden disabled type="number" :v-model="formData.shopRatings">
        <div class="form-group">
          <div id="full-stars-example">
            <div class="rating-group">
              <input disabled checked class="rating__input rating__input--none" name="rating3" id="rating3-none"
                value="0" type="radio">
              <label aria-label="1 star" class="rating__label" for="rating3-1"><i
                  class="rating__icon rating__icon--star fa fa-star"></i></label>
              <input v-model="formData.selected" class="rating__input" name="rating3" id="rating3-1" value="1"
                type="radio">
              <label aria-label="2 stars" class="rating__label" for="rating3-2"><i
                  class="rating__icon rating__icon--star fa fa-star"></i></label>
              <input v-model="formData.selected" class="rating__input" name="rating3" id="rating3-2" value="2"
                type="radio">
              <label aria-label="3 stars" class="rating__label" for="rating3-3"><i
                  class="rating__icon rating__icon--star fa fa-star"></i></label>
              <input v-model="formData.selected" class="rating__input" name="rating3" id="rating3-3" value="3"
                type="radio">
              <label aria-label="4 stars" class="rating__label" for="rating3-4"><i
                  class="rating__icon rating__icon--star fa fa-star"></i></label>
              <input v-model="formData.selected" class="rating__input" name="rating3" id="rating3-4" value="4"
                type="radio">
              <label aria-label="5 stars" class="rating__label" for="rating3-5"><i
                  class="rating__icon rating__icon--star fa fa-star"></i></label>
              <input v-model="formData.selected" class="rating__input" name="rating3" id="rating3-5" value="5"
                type="radio">
            </div>
            <p class="desc" style="font-family: sans-serif; font-size:0.9rem"
              :class="[formErrors.selected ? 'text-danger' : '']">
              Must select a star value</p>

          </div>
          <textarea v-model="formData.feedback" class="form-control" name="" id="" cols="10" rows="5"
            placeholder="Review"></textarea>
        </div>


      </div>
      <hr class="hidden">
      <div class="modal-body">
        <ajax-button type="submit" :syncing="syncing" class="btn btn-primary ml-1 center">Submit</ajax-button>
      </div>
    </ajax-form>
  </modal>
</div>



<script>
  function isNumeric(n) {
    return !isNaN(parseFloat(n)) && isFinite(n);
  }

  function sortTable(n) {
    var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
    table = document.getElementById("myTable");
    switching = true;
    //Set the sorting direction to ascending:
    dir = "asc";
    /*Make a loop that will continue until
    no switching has been done:*/
    while (switching) {
      //start by saying: no switching is done:
      switching = false;
      rows = table.rows;
      /*Loop through all table rows (except the
      first, which contains table headers):*/
      for (i = 1; i < (rows.length - 1); i++) {
        //start by saying there should be no switching:
        shouldSwitch = false;
        /*Get the two elements you want to compare,
        one from current row and one from the next:*/
        x = rows[i].getElementsByTagName("TD")[n];
        y = rows[i + 1].getElementsByTagName("TD")[n];
        /*check if the two rows should switch place,
        based on the direction, asc or desc:*/
        if (dir == "asc") {
          // START HERE
          var value1 = x.innerHTML;
          var value2 = y.innerHTML;

          //CHECK IF VALUES ARE NUMERIC. (LINK LATER)

          if (isNumeric(value1) && isNumeric(value2)) {
            if (Number(value1) < Number(value2)) {
              shouldSwitch = true;
              break;
            }
          } else if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
            //if so, mark as a switch and break the loop:
            shouldSwitch = true;
            break;
          }
        } else if (dir == "desc") {
          // START HERE
          var value1 = x.innerHTML;
          var value2 = y.innerHTML;

          //CHECK IF VALUES ARE NUMERIC. (LINK LATER)

          if (isNumeric(value1) && isNumeric(value2)) {
            if (Number(value1) > Number(value2)) {
              shouldSwitch = true;
              break;
            }
          } else if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
            //if so, mark as a switch and break the loop:
            shouldSwitch = true;
            break;
          }
        }
      }
      if (shouldSwitch) {
        /*If a switch has been marked, make the switch
        and mark that a switch has been done:*/
        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
        switching = true;
        //Each time a switch is done, increase this count by 1:
        switchcount++;
      } else {
        /*If no switching has been done AND the direction is "asc",
        set the direction to "desc" and run the while loop again.*/
        if (switchcount == 0 && dir == "asc") {
          dir = "desc";
          switching = true;
        }
      }
    }
  }

  function searchTable() {
    var input, filter, found, table, tr, td, i, j;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td");
      for (j = 0; j < td.length; j++) {
        if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
          found = true;
        }
      }
      if (found) {
        tr[i].style.display = "";
        found = false;
      } else {
        if (tr[i].id != 'tableHeader') {
          tr[i].style.display = "none";
        }
      }
    }
  }

</script>
<style>
  table {
    border-collapse: collapse;
    width: 100%;
  }

  th,
  td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid rgb(58, 58, 58);
  }

</style>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
